
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */
@media (min-width: 1200px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

/* Pastikan elemen button memiliki z-index yang cukup tinggi */
.nav-link[data-bs-toggle="collapse"] {
  z-index: 1050; /* Nilai ini bisa disesuaikan sesuai kebutuhan */
}

.nav-link[data-bs-toggle="offcanvas"] {
  z-index: 1050; /* Nilai ini bisa disesuaikan sesuai kebutuhan */
}

/* Pastikan elemen pencarian memiliki z-index lebih tinggi */
.navbar-search {
  z-index: 1040; /* Sesuaikan nilai sesuai kebutuhan */
}

/* Jika ada elemen lain yang mungkin menutup tombol pencarian */
.collapse {
  position: relative;
  z-index: 1040; /* Nilai ini bisa disesuaikan sesuai kebutuhan */
}

.offcanvas {
  position: relative;
  z-index: 1040; /* Nilai ini bisa disesuaikan sesuai kebutuhan */
}

/* Pastikan tidak ada properti overflow yang menyebabkan elemen tersembunyi */
body, html {
  overflow: visible;
}
